@import "variables/police";


.card {
  border: solid black 1px;
  border-radius: 30px 30px 0px 0px;
  background-color: white;
  width: 17%;
  display: flex;
  flex-direction: column;
  position: relative;
  @media (max-width: 1008px) {
      width: 40%;
  }

  &__name {
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: $font-secondary;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  &__audio {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  &__annonce {
    background-color: red;
    color: white;
    width: 100px;
    text-align: center;
    position: absolute;
    top: 64px;
    right:0;
    font-size: 18px;
    font-weight: 600;
    font-family: $font-secondary;
  }

  @media (max-width: 435px) {
    & {
      width: 80%;
    }
  }
}
