@import "variables/police";

.header {
  padding: 10px;

  &__title {
    margin-top: 0;
    font-family: $font-primary;
    color: white;
    letter-spacing: 5px;
    font-size: 80px;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0;
  }

  &__link--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    gap: 10px;
    margin-top: 20px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
    padding: 20px;
    border-radius: 5px;
    animation: apparition 400ms ease-out;
  }

  &__link {
    font-family: $font-secondary;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
  }

  &__link--hidden {
    display: none;
    transition: 2s ease-in-out;
  }

  &__button--fixed {
    position: fixed;
  }

  &__ancre--container {
    display: flex;
    gap: 10px;
  }

  &__ancre {
    color: black;
    text-decoration: none;
  }

  &__button {
    font-family: $font-secondary;
    color: white;
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__research {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  @keyframes apparition {
    0% {
      height: 0;
      opacity: 0;
    }

    100% {
      height: 60px;
      opacity: 1;
    }
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 3.4rem;
    }
  }

  @media (max-width: 435px) {
    &__title {
      font-size: 2rem;
    }

    &__nav--research {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .fa-bars {
      position: fixed;
      z-index: 1000;
      color: white;
      font-size: large;
    }

    &__button--fixed {
      display: none;
    }
  }
}
