@import "variables/police";

.heroheader {
  margin: 168px 0px 350px 0px;

  &__title {
    font-family: $font-secondary;
    color: white;
    text-align: center;
    font-size: 80px;
  }

  &__welcome {
    font-size: 35px;
    color: white;
    font-family: $font-secondary;
    margin: 0px 30px;
    text-align: center;
  }

  @media (max-width: 957px) {
    & {
      margin: 150px 0px 250px 0px;
    }
  }

  @media (max-width: 768px) {
    & {
      margin: 120px 0px 225px 0px;
    }

    &__title {
      font-size: 60px;
      margin-bottom: 100px;
    }
  }

  @media (max-width: 435px) {
    &__title {
      font-size: 50px;
      margin-bottom: 80px;
    }

    &__welcome {
      font-size: 30px;
    }
  }
}
