@import "variables/police";

.main {
  margin-top: 50px;
  flex: 1;

  &__title {
    font-family: $font-secondary;
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 50px;
  }

  &__gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }

  #new {
    scroll-margin-top: 40px;
  }

  &__pagination {
    margin: 20px 0px;
  }

  &__pagination--button {
    width: 50px;
    font-size: 20px;
    color: black;
    border-radius: 2px;
    border: 1px solid black;
  }

  @media (min-width: 768px) and (max-width: 1008px) {
    &__link {
      margin: 7%;
    }
  }
}
