.header {
  
  &__title {
    margin-top: 0;
    font-family: "Eater", serif;
    color: white;
    letter-spacing: 5px;
    font-size: 100px;
    text-align: center;
    font-weight: 400;
    font-style: normal;
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 3.5rem;
    }
  }

  @media (max-width: 435px) {
    &__title {
      font-size: 2rem;
    }
  }
}
