.header {
  &__title {
    margin-top: 0;
    font-family: "Eater", serif;
    color: white;
    letter-spacing: 5px;
    font-size: 70px;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0;
  }

  &__link {
    font-family: "Nova Square", sans-serif;
    color: white;
    background-color: black;
    border: none;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
  }

  &__ancre--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: fixed;
    background-color: white;
    z-index: 100;
  }

  &__ancre--hidden {
    display: none;
  }

  &__ancre {
    color: black;
    text-decoration: none;
  }

  .fa-bars {
    position: fixed;
    z-index: 1000;
    color: white;
    font-size: large;
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 3.2rem;
    }
  }

  @media (max-width: 435px) {
    &__title {
      font-size: 2rem;
    }
  }
}
