.main {

  &__title {
    font-family: "Nova Square", sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    margin: 50px 0px;
  }

  &__gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:30px;
  }
}
