.main {

  &__title {
    font-family: "Nova Square", sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    margin: 50px 0px;
  }

  &__gallery {
    display: flex;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    gap:30px;
  }

  &__link {
    text-decoration: none;
    font-family: "Nova Square", sans-serif;
    color: white;
    margin: 12%;
  }

  @media (min-width:768px) and (max-width: 1008px) {
    &__link {
      margin: 7%;
    }
  }
}
